# Compiled Object files
*.pyc

# Compressed Files
*.zip
*.rar

# Visual Studio files
*.[Oo]bj
*.user
*.aps
*.vspscc
*.vssscc
*_i.c
*_i.h
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.metaproj
*.metaproj.tmp
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.vspx
*.psess
*.metaproj
*.metaproj.tmp
.vs/
ipch/
obj/
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper

#Subversion files
.svn
